@media(max-width: 800px) {
    .profile_container {
        padding:0 20px;
    }

    .video {
        width:50%;
        flex:auto;
    }

    .videos {
        padding-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    iframe {
        width:100%;
    }
}