body {
    color:yellow;
    background-color: black;
}

.title_container {
    color:white;
    opacity: 0.7;
    text-align: center;
    background-image: url(../profile_img.jpeg);
    background-size: cover;
    height: 640px;

}

.profile_container {
    color: white;
}