body {
    color:yellow;
    background-color: black;
}

.title_container {
    color:white;
    font-size: 250%;
    opacity: 0.7;
    text-align: center;
    background-image: url(../photos/profile_img.jpeg);
    background-size: cover;
    padding-top: 35%;
    height: 640px;

}


.photo-container {
    width:40%;
    display: inline-block;
    padding:20px;
}

.profile_container {
    color: white;
}

